nav {
    display: flex;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    
    font-size: 2.5rem;

    background-color: var(--white);

    .left {
        img {
            position: absolute;
            width: 8rem;
        }
    }
    
    .right {
        display: flex;
        gap: 0.75rem;
        
        .nav-link {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-radius: 100px;
            overflow: hidden;
            
            text-decoration: none;
            
            color: var(--dark-grey);
            background-color: var(--light-grey);
            
            transition: 
                padding 0.3s ease;
        
            &.active {
                background-color: var(--orange);
                color: var(--white);
            }
            
            .nav-icon {
                opacity: 1;
                width: 2rem;
                padding: 0 0.25rem;
                flex-shrink: 0;

                transition: 
                    opacity 0.1s ease, 
                    width 0.3s ease;
            }
    
            .nav-title {
                font-size: 2rem;
                margin: 0;
                white-space: nowrap;
                max-width: 0;
                opacity: 0;
                overflow: hidden;

                transition: 
                    max-width 0.3s ease, 
                    opacity 0.1s ease, 
                    margin-left 0.3s ease;
            }
        
            &:hover {
                .nav-icon {
                    width: 0;
                    opacity: 0;
                }
                
                .nav-title {
                    max-width: 200px;
                    opacity: 1;
                }
            }
        }
    }
}

footer {
    position: relative;
    bottom: 0;
    padding-top: 6rem;

    .footer-text {
        position: absolute;
        z-index: 10;
        bottom: 1rem;
        margin: 6rem;
        padding: 1rem;
    }

    img {
        display: block;
        width: 100%;
    }
}

.page-container {margin: 0 1rem;}
.page, img {animation: fade-in 0.5s ease;}


.home-page {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 100vh;
    overflow: hidden;

    .lore {
        position: absolute;
        inset: 0;
        transform: translateY(100%);

        background-color: var(--red);
    }

    .hero {
        position: relative;
        height: 100vh;
        nav {z-index: 0;}

        .canvas {
            position: absolute;
            margin: 0 25%;
            width: 50%;
            height: 100%;

            &:hover {cursor: grab;}
            &:active {cursor: grabbing;}
        }
    }
}

.spacer { height: 100vh;}

.about-page {
    display: flex;
    color: var(--black);

    .side-menu {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 6rem;
        align-self: flex-start;
        width: 35%;
        gap: 1rem;

        button {
            border: none;
            border-radius: 100px 0 0 100px;
            background: none;
            padding: 0.25rem 0.5rem 0.25rem 0.75rem;
            text-align: right;
            font-size: 1rem;

            color: var(--light-grey);

            transition: 
                background 0.2s ease;
            
            &.active {
                background: var(--lime);
                color: var(--black);
            }
        }
    }

    section {scroll-margin-top: 5rem;}

    .contents {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1rem;
        gap: 1rem;

        p {
            padding: 0 0 1rem 0;
            font-family: 'B612Mono', Arial;
            font-size: 1rem;
            letter-spacing: 0.0025rem;
            line-height: 1.75rem;;
        }

        h1 {
            padding: 0 0 1rem 0;
            line-height: 1.6rem;
        }

        .carousel:not(.gallery-container) {
            display: flex;
            height: 10rem;
            gap: 1rem;
            padding-bottom: 1rem;
        }

        .gallery-container {
            display: flex;
            overflow: scroll;
            gap: 1rem;
                        
            img {height: 30rem;}

            &::-webkit-scrollbar:horizontal {
                display: block;
                height: 1.5rem;
            }

            &::-webkit-scrollbar-thumb {
                border: solid var(--white) 0.5rem;
                border-radius: 100px;
                height: 1rem;

                background: var(--light-grey);
            }
        }
    }
}

.characters-page {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;

    .name-container {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
        gap: 1rem;
        width: 80%;
        height: fit-content;

        .icon {color: var(--lime);}

        a {
            display: flex; 
            color: var(--black);            
            text-decoration: none;
        }

        p {padding: 0 1rem;}
    }
    
    .character-container {
        display: grid;
        place-items: center;
        flex: 1;
        height: 100%;

        p {
            grid-area: 1 /1 ;
            font-family: 'B612Mono', Mono;
            align-self: center;
        }
    }
}

.comics-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    color: var(--dark-grey); 

    font-size: 2rem;
}

