nav {
    display: flex;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    
    font-size: 2.5rem;

    background-color: var(--white);

    .left {
        img {
            position: absolute;
            width: 8rem;
        }
    }
    
    .right {
        display: flex;
        gap: 0.75rem;
        
        .nav-link {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-radius: 100px;
            overflow: hidden;
            
            text-decoration: none;
            
            color: var(--dark-grey);
            background-color: var(--light-grey);
            
            transition: 
                padding 0.3s ease;
        
            &.active {
                background-color: var(--orange);
                color: var(--white);
            }
            
            .nav-icon {
                opacity: 1;
                width: 2rem;
                padding: 0 0.25rem;
                flex-shrink: 0;

                transition: 
                    opacity 0.1s ease, 
                    width 0.3s ease;
            }
    
            .nav-title {
                font-size: 2rem;
                margin: 0;
                white-space: nowrap;
                max-width: 0;
                opacity: 0;
                overflow: hidden;

                transition: 
                    max-width 0.3s ease, 
                    opacity 0.1s ease, 
                    margin-left 0.3s ease;
            }
        
            &:hover {
                .nav-icon {
                    width: 0;
                    opacity: 0;
                }
                
                .nav-title {
                    max-width: 200px;
                    opacity: 1;
                }
            }
        }
    }
}

footer {
    position: relative;
    bottom: 0;
    padding-top: 6rem;

    .footer-text {
        position: absolute;
        z-index: 10;
        bottom: 1rem;
        margin: 6rem;
        padding: 1rem;

        h1 {color: var(--lime);}
        p {padding-bottom: 1rem;}
        a {
            background-color: var(--red);

            &:hover {color: var(--white);}
        }
    }

    a {
        position: absolute;
        bottom: 8rem;
        right: 8rem;
        width: 8rem;
        aspect-ratio: 1 / 1;

        &:hover {width: 10rem; transform: translate(1rem, 1rem);}
    }

    img {
        display: block;
        width: 100%;
    }
}

.page-container {margin: 0 1rem;}
.page, img {animation: fade-in 0.5s ease;}

.home-page {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    height: 100vh;
    overflow: hidden;

    .hero {
        position: relative;
        height: 100vh;
        nav {z-index: 0;}

        .text {
            position: absolute;
            top: 5rem;
            left: 3rem;
        }
        .canvas {
            position: absolute;
            margin: 0 25%;
            width: 50%;
            height: 100%;

            &:hover {cursor: grab;}
            &:active {cursor: grabbing;}
        }
    }
    
    .lore {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;

        background-color: var(--red);

        .scroll {
            position: absolute;
            top: -5rem;
            right: 5rem;

            .letter {font-size: 2rem;}
        }

        .lore-container {
            width: 70%;
            color: var(--lime);
            
            .text {
                color: var(--white);
                font-size: 8rem;

                span {font-family: 'Tanker';}
            }

            p {padding: 0 0 1rem 0;}
            
            button {
                padding: 1rem;
                margin: 1rem 0;

                color: var(--white);
                background: var(--orange);

                border: none;
                border-radius: 100px;
                box-shadow: -1px 1px 1px var(--lime);

                font-family: 'B612Mono';

                transition: all 0.2s ease;

                &:hover {
                    color: var(--black);
                    background: var(--lime);
                    transform: translateY(-0.5rem);
                    transition: all 0.2s ease;
                }
            }
        }
    }
}

.spacer { height: 100vh;}

.about-page {
    display: flex;
    color: var(--black);

    .side-menu {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 6rem;
        align-self: flex-start;
        width: 35%;
        gap: 1rem;

        button {
            border: none;
            border-radius: 100px 0 0 100px;
            background: none;
            padding: 0.25rem 0.5rem 0.25rem 0.75rem;
            text-align: right;
            font-size: 1rem;

            color: var(--light-grey);

            transition: 
                background 0.2s ease;
            
            &.active {
                background: var(--lime);
                color: var(--black);
            }
        }
    }

    section {scroll-margin-top: 5rem;}

    .contents {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1rem;
        gap: 1rem;

        p {
            padding: 0 0 1rem 0;
            font-family: 'B612Mono', Arial;
            font-size: 1rem;
            letter-spacing: 0.0025rem;
            line-height: 1.75rem;;
        }

        h1 {
            padding: 0 0 1rem 0;
            line-height: 1.6rem;
        }

        .carousel {
            display: flex;
            overflow: scroll;
            gap: 1rem;
                        
            img {height: 30rem;}

            &::-webkit-scrollbar:horizontal {
                display: block;
                height: 1.5rem;
            }

            &::-webkit-scrollbar-thumb {
                border: solid var(--white) 0.5rem;
                border-radius: 100px;
                height: 1rem;

                background: var(--light-grey);
            }
        }
    }
}

.characters-page {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 3rem;
    gap: 3rem;
    justify-content: space-around;
    place-items: center;

    .name-container {
        opacity: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 1rem;
        gap: 1rem;
        width: 80%;

        border-radius: 1rem;

        background: var(--light-grey);
        box-shadow: 
            0 0 0 0.25rem var(--white),
            0 0 0 0.5rem var(--light-grey),
            0 0.5rem 1rem var(--black);
        
        transition: all 0.2s ease;

        &:hover {
            opacity: 100%;
            background-color: var(--orange);
            box-shadow: 
                0 0 0 0.25rem var(--white),
                0 0 0 0.5rem var(--orange),
                0 0.5rem 1rem var(--black);

            transition: all 0.2s ease;
        }

        a {
            display: flex; 
            color: var(--black);            
            text-decoration: none;

            border-radius: 1rem;
            
            transition: all 0.15s ease;

            &:hover {
                background: var(--lime);

                transform: translateY(-0.25rem);
                transition: all 0.15s ease;
            }
        }

        p {padding: 0.5rem 1rem;}
    }
    
    .character-container {
        display: grid;
        place-items: center;
        height: 100%;

        .scroll {
            grid-area: 1 / 1 ;
            align-self: center;
            position: absolute;

            .letter {
                font-family: 'B612Mono', Mono;
                font-size: 1.5rem;
            }
        }
    }
}

.character-page {
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 0 2rem;

    .character-container {
        flex: 1;

        &:hover {cursor: grab;}
        &:active {cursor: grabbing;}
    }

    .text-container {
        flex: 1;
        display: grid;
        grid-template-rows: 0.25fr 1fr 1fr 0.5fr 1fr;
        
        a {color: var(--dark-grey); &:hover {color: var(--light-grey);}}
    
        .text {
            color: var(--black);
            font-size: 6rem;

            span {font-family: 'Tanker';}
        }

        #statement {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;

            color: var(--white);
            background: var(--orange);

            font-family: 'B612Mono';
            letter-spacing: -1px;

            border-radius: 1rem;
            box-shadow: 
                0 0 0 0.25rem var(--white),
                0 0 0 0.5rem var(--orange);

            span {color: var(--black);}
        }
    }
}

.comics-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    color: var(--dark-grey); 

    font-size: 2rem;
}

#not-found {height: 100vh;}